@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
  scrollbar-color: #888 #f1f1f1; /* Color de la barra de desplazamiento y el fondo */
}
@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
  }

  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl;
  }
  h2 {
    @apply text-2xl sm:text-3xl;
  }

  li {
    @apply cursor-pointer;
  }
  button {
    @apply rounded-full uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] py-2 px-3 text-white text-xs font-semibold duration-300 hover:scale-110;
  }
}

.alink-a {
  position: relative;
  text-decoration: none;
}

.alink-a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.alink-a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
